h2 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    font-weight: 800;
    padding-left: 25px;
    opacity: .5;
}

hr {
    border: .5px solid var(--accentGray);
}

.content--dash {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundColor);
    height: 100vh;
}

.col--left {
    width: 65%;
    background-color: var(--backgroundColor);
}


/* Drag and drop */

.col--right {
    width: 35%;
    background-color: white; 
    border-left: 1px solid var(--accentGray);
    display: flex;
    flex-direction: column;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92%;
}

.tasks--backlog {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}


.tasks--complete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top: 1px solid var(--accentGray);
    background-color: white;
}

.tasks--complete-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    opacity: .5;
}

.tasks--complete-text > h5 {
    color: var(--primaryColor);
}

.tasks--complete-text > img {
    height: 18px;
    width: 18px;
    margin: 0 10px 0 0;
}

.indiv-task {
    margin: 5px 0 5px ;
    padding: 5px 0 5px 15px;
    height: 30px;
    background-color: white;
    border: 1px solid var(--accentGray);
}

.drag:hover {
    cursor: move;
}

.drag:active, .drag:focus {
    cursor: move;
}

