body {
    background-color: #3b444c;
}

.content {
    padding: 50px 5% 50px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    background-color: #535d66;
    border-radius: 3px;
    margin: 0 0 30px 0;
}

/* Row section */

.card--row {
    display: flex;
    flex-direction: row;
}

/* Row cards */

.card--a, .card--b {
    flex: 1;
    height: 270px;
}

.card--a:last-child, .card--b:last-child {
    margin-left: 30px;
}

.card--a > h3, .card--b > h3 {
    color: white;
    opacity: .5;
    font-size: 14px;
    padding: 5px 5px 5px 25px;
}

.card--a > p, .card--b > p {
    font-size: 13px;
    padding: 15px 0px 2px 25px;
    color: white;
}

.card--a > hr, .card--b > hr {
    padding: 0;
    color: #454545;
    border: .5px solid #454545;
}

/* Profile card */

.card--profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 0 25px 0;
}

.card--profile > h1 {
    margin: 15px 0 5px 0;
    color: white;
}

.card--profile > p {
    margin: 0;
    color: white;
}

.card--profile > img {
    width: 100px;
    border-radius: 100px;
}

.profile--info > p > span {
    font-weight: 800;
    color: white;
}

.profile--info {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.profile--info > p:last-child {
    padding-left: 20px;
}

/* Map card */

.card--row-map {
    display: flex;
    flex-direction: row;
}

.card--map {
    height: 270px;
    width: 60%;
    overflow: hidden;
}

.card--b {
    width: 40%;
    height: 270px;
    margin-left: 20px;
}

.card--map > img {
    width: 100%;
    border-radius: 3px;
}

