.content--finance {
    background-color: var(--backgroundColor);
    height: 100%;
    display: flex;
    padding: 40px 30px 0 30px;
}

#side__profile {
    width: 25%;
}

#bank--Accts {
    margin-left: 60px;
    border: 1px dotted black;
    width: 75%;
    display: flex;
}

.test {
    flex-direction: column;
    border: 1px solid red;
    height: 100px;
    width: 100px;
}

#bank--Accts > .test > h5 > img {
    width: 11px;
    height: 11px;
    padding-left: 1px;
}
