.content--finance {
    background-color: var(--backgroundColor);
    height: 100%;
    display: flex;
    padding: 40px 30px 0 30px;
}

.col-left {
    width: 25%;
}
.col-right {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}
.col-right > div {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
}
.col-right > div > span {
    width: 25%;
    background-color: white;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-right: 20px;
    /* height: 300px; */


}

.col-right > div > span > img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.finance--Cards {
    background-color: red;
    width: 25%;
    
}










/* .col-right {
     flex-direction: column; 
    height: 100%;
    border: 1px solid red;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin: ; */
    /* align-items: center; 

}

#bank--Accts, #blackmailed--officials, #finance--bus {
    border: 1px dotted black;
    width: 75%;
    height: 33%;
    display: flex;
    margin: 50px 50px 0 50px;

    
}

.finance--Cards {
    margin-right: 30px;
    height: 250px;
    width: 350px;
}

.col-right > #bank--Accts {
    /* width: 250px; 
    height: 300px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.col-right > #finance--bus {
    /* height: 300px; 
    width: 90%;

}
.col-right > #blackmailed--officials {
    /* height: 300px; 
   

}


#blackmailed--officials > .finance--Cards > img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding-top: 5%;
} 
*/