:root {
    --primaryColor: #2F3E50;
    --font: 'lato';
}

h1, h2, h3, h4, h5, p, a {
    font-family: 'lato';
}

body {
	margin: 0;
	background-color: #3b444c;
}

nav {
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    padding: 15px 5% 15px 5%;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.40);
}

.logo {
    flex: 1;
}

.links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.active {
    font-weight: 600;
    color: #F88E00;
    opacity: 1;
}

nav > span > a {
    text-decoration: none;
    padding: 0 15px 0 15px;
    color: var(--primaryColor);
    font-size: 14px;
    opacity: .6;
}

nav > img {
    height: 40px;
}

nav > span > a:last-child {
    padding: 0 0 0 15px;
}

nav > span > a:hover {
    opacity: .7;
    cursor: pointer;
}

nav > span > img {
    height: 50px;
    width: auto;
}

/* styling rapSheet News and Financials */

#content{
	background-color: #3b444c;
	color: white;
/*    overflow: hidden;*/
}

.clear{
    clear:both;
}

.side__info{
    background-color: #535d66;	
	width:18%;
	height:350px;
	float:left;
	margin: 2% 4% 0px;
	border-radius: 3px;
    position:fixed;
    text-align: center;
}

.side__fin{
    height: 150px;
}

#nav__finance{
    margin-top:12%;
}

#profile__short img{
    margin: 30px auto 10px;
	width: 140px;
	border-radius: 140px;
}

#profile__short div{
    width: 90%;
    margin: 10px auto;
    background-color: #535d66;
    border-radius: 10px;
    padding: 5px 0;
    /* box-shadow: inset 0 0 5px #000000; */
}

#profile__short ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#profile__short li{
    margin: 0 0 10px  ;
}

.cards__box{
	/* background-color: #1f2021; */
	width: 70%;
	height: 100%;
	float: right;
	margin: 2% 4% 0 0;
	border-radius:10px;
}

.cards__large{
	/* background-color: #535d66; */
	background-color: #535d66;
    border-radius: 3px;
	width:95%;
    margin:0px auto 30px;
    padding: 15px;
    /* box-shadow: inset 0 0 5px #000000; */

}
.cards__split{
    background-color: #535d66;
	/* display: inline-block;  */
	float:left;
	height:90%;
	width:45%;
	margin: 5px 2.5% 5px ;
	text-align: center;
    border-radius: 3px;
    /* box-shadow: inset 0 0 5px #000000; */
}

.cards__cont{
	/* background-color: #1f2021; */
    background-color: #3b444c;	
    box-shadow: none;

}

.float__clear{
    height:150px;
}

/*News feed styles*/

.newsHeader{
	margin:10px 0 30px;
}

.nav__news{
    text-align: center;
}

.nav__news ol{
    list-style-type: none;
}

.nav__news li{
    margin: 0 3%;
    display: inline-block;
}

.nav__news a{
    padding: 12px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #aaaaaa;
    text-decoration: none;
    color: lightgray;
}

.nav__news a:visited{
    color: lightgray;
}

.event{
    
}

/* Finance.html CSS Styling */



#nav__finance , li {
    list-style: none;
    text-align: left;
}


#blackmailed__officials img {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;    
}



#content {
    color: white;
}

#bank__Accts, a {
    color: white;
}

#money__laundering {
    color: darkblue;

}

.alert--icon {
    width: 18px;
    margin-top: -15px;
}

.event h2{
	opacity: .7;
	display: inline-block;
}

.rating{
	margin-left: 50px;
}

.event hr{
	padding: 0;
    color: #454545;
    border: .5px solid #454545;
}

.event ul{
	list-style-type: none;
}