:root {
    --primaryColor: #11151C;
    --accentColor: #EC4E20;
    --backgroundColor: rgb(238, 239, 241);
    --accentGray:  rgb(224, 227, 230);
    --warningColor: #FF9505;
    --chartColor: #016FB9;
    --successColor: #6cc551;

    --primaryFont: 'lato';
    --secondaryFont: 'crimson text';
}

h1, h2, h3, h4, h5, a {
    font-family: var(--primaryFont);
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

p {
    font-family: var(--secondaryFont);
}

body {
    margin: 0;
    display: flex;
}

/* NAVIGATION */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 100vh;
    padding: 30px 0 0 0;
    background-color: var(--primaryColor);
    border-right: 1px solid var(--accentGray);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

nav > span > img {
    width: 30px;
    margin: 0 0 50px 0;
}


.material-icons {
    color: white;
    font-size: 24px;
    margin: 0 0 50px 0;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 46, 59);
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0 0 40px 0;
    padding-top: 24px;
}

/* Content structure and styling */

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.content--header {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0 150px;
    border-bottom: 1px solid var(--accentGray);
}

.subnav > .subactive {
    color: var(--accentColor);
    font-weight: 800;
}

.subnav > a {
    margin: 15px;
    color: #5B6678;
}

.subnav > a:hover {
    color: var(--primaryColor);
}

.content--header > button {
    height: 36px;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 12px 5px 12px;
    background-color: var(--accentColor);
    border: none;
    border-radius: 3px;
    color: white;
}

.content--header > button:hover {
    opacity: .7;
}


.content--body {
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundColor);
    padding: 40px 80px 0 150px;
    height: 100%;
}

.card {
    background-color: white;
    border-radius: 3px;
}